body, p, a, ul, li, input, button, textarea{margin: 0;}
p, a, li, span, td, tr, label, input, button, select, textarea{font-family: ProximaFont, sans-serif; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
a{text-decoration: none;}
li{list-style-type: none;}

#top-nav{position: fixed;top: 0;left: 0;width: 100vw;height: 42px;background-color: $theme;z-index: 5;padding: 0 15px;box-sizing: border-box;
	#dashboard-logo{
		p{font-family: ProximaFont, sans-serif;font-size: 22px;line-height: 34px;color: #333;float: left;margin-right: 8px;}
	}
	.left{float: left;}
	.right{float: right;
		a{font-size: 13px;color: #fff;font-weight: bold;line-height: 42px;}
	}

	#logo{background: #f4f5f5;display: inline-block;border-radius: 4px;margin: 4px 0;
		a{display: block;
			p{float: left;line-height: 40px;padding-right: 8px;font-size: 24px;color: #333;}
			&:after{clear: both;display: block;content: "";}
		}
	}
	#logo-img{float: left;margin: 0;
		img{height: 30px;vertical-align: sub;border-radius: 5px;margin: 0px 4px 0px 4px;}
	}

}
#side-nav{position: fixed;top: 42px;left: 0;width: 80px;height: calc(100vh - 42px);background-color: #fff;box-shadow: -2px 2px 5px 0 rgba(0,0,0,0.5);z-index: 5;
	ul{margin: 0;padding: 0;
		li{padding: 15px 0;
			p{color: #333;font-weight: bold;font-size: 13px;text-align: center;margin-top: 6px;}
			&.selected{i,p{color: #CA6924;}}
		}
	}
	.icon{text-align: center;
		i{font-size: 32px;}
		i, p{color: #333;}
	}
}
#dashboard-body{position: fixed;top: 42px;left: 80px;width: calc(100vw - 80px);height: calc(100vh - 42px);background-color: #f6f6f6;overflow: auto;z-index: 20;}

#top-nav{
	.right{
		#dashboard-logout-button{float: left;
			a{font-size: 14px;font-weight: bold;color: #fff;line-height: 42px;background-color: #fff;color: $theme;padding: 4px 12px;border-radius: 5px;;color: $theme;
				i{margin-left: 4px;}
			}
		}
	}
}

#payment-hash{text-align: center;margin-top: 18px;margin-bottom: 15px;position: relative;
	p{font-weight: bold;font-size: 12.4px;background: $theme;color: #f6f6f6;padding: 8px 12px;display: inline-block;border-radius: 5px;cursor: default;
		&:hover{
			& + span{opacity: 1;transform: translateY(0px);}
		}
		& + span:hover{opacity: 1;transform: translateY(0px);}
	}
	span{position: absolute;background: #763568;top: 37px;left: calc(50% - 43px);color: #f6f6f6;font-size: 12px;font-weight: bold;padding: 10px;border-radius: 5px;opacity: 0;transform: translateY(-20px);transition: 120ms;cursor: pointer;
		i{display: block;margin-bottom: 8px;font-size: 22px;}
		&:after{display: block;content: "";height: 10px;width: 10px;margin: 0;transform: rotate(45deg);padding: 0;top: -4px;position: absolute;background: $theme;left: calc(50% - 5px);}
	}
}

#dashboard-logo{
	a{font-family: ProximaFont, sans-serif;font-size: 28px;line-height: 48px;color: #fff;line-height: 34px;
		span{font-weight: bold;color: #0098db;}
	}
}

#dashboard-container{width: 500px;min-height: 300px;background-color: #fff;position: relative;padding: 15px;margin: 50px auto;box-shadow:0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);box-sizing: border-box;border-radius: 5px;
	.card-title{font-weight: bold;font-size: 14px;}
	.card-text{font-size: 13px;margin-top: 10px;font-weight: bold;color: #555;}
	.button{margin-top: 12px;
		a{color: #fff;display: inline-block;background-color: $theme;font-size: 13px;font-weight: bold;line-height: 32px;padding: 0 10px;border-radius: 5px;}
	}
	label, input, button, select{display: block;}
	label{margin-top: 13px;margin-bottom: 4px;}
	label{font-size: 12px;font-weight: bold;margin-left: 4px;}
	input, button, select, button{height: 32px;width: 100%;background-color: #eee;border-radius: 5px;color: #333;font-size: 13px;border: none;font-weight: bold;}
	input, select{padding: 0 10px;box-sizing: border-box;}
	button{cursor: pointer;
		&[type='submit']{background-color: $theme;color: #fff;margin-top: 13px;}
	}
	input{}
	.wallet-row{margin-top: 20px;
		&:after{clear: both;display: block;content: "";}
	}
	.wallet-col{width: 33.33%;float: left;text-align: center;padding: 0 8.33%;
		.title{font-size: 13px;font-weight: bold;margin-bottom: 4px;}
	}
	.wallet-box{display: inline-block;padding: 8px 10px;border-radius: 5px;background-color: $theme;box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
		&#wallet-total-balance{background-color: #003171;}
		&#wallet-spent-amount{background-color: $green;}
		p{color: #fff;}
	}
	.hint-text{font-size: 14px;margin-top: 10px;margin-left: 2px;
		&.--important{font-weight: bold;}
		&.--success{color: $green;}
		&.--center{text-align: center;}
	}
	.wallet-add-balance-options{margin-top: 15px;
		&:after{clear: both;display: block;content: "";}
	}
	#back-button{background-color: $theme;color: #fff;font-weight: bold;font-size: 13px;padding: 8px 10px;margin-bottom: 15px;display: inline-block;border-radius: 5px;transition: 250ms;
		i{font-size: 13px;vertical-align: middle;margin-right: 3px;}
		&:hover{background-color: darken($theme, 10%);}
	}
	#wallet-discount{margin: 0;padding: 18px 0 5px 0;margin-left: 28px;
		li{list-style-type: disc;
			p{font-size: 13px;font-weight: bold;line-height: 22px;}
		}
	}
	.payment-logo{width: 100%;text-align: center;padding: 15px 0;
		&#paytm-logo{height: 35px;}
		&#bitcoin-logo, &#ethereum-logo {
			img{height: 80px;}
		}
		img{height: 40px;}
	}
	#phone-number{
		p{width: 34px;float: left;line-height: 32px;box-sizing: border-box;font-size: 13px;text-align: center;background-color: $theme;color: #fff;border-radius: 5px 0 0 5px;font-weight: bold;}
		input{width: calc(100% - 34px);float: left;border-radius: 0 5px 5px 0;}
		&:after{clear: both;display: block;content: "";}
	}
	#crypto-qr{text-align: center;margin-top: 15px;
		img{width: 150px;margin: 0 auto;}
	}
	.dashboard-options-list{
		.left{float: left;}
		.right{float: right;}
		ul{margin: 0;padding: 0;
			li{border-bottom: 1px solid #eee;padding-bottom: 8px;margin-bottom: 8px;
				p{color: #333;}
				a{padding: 3px 8px;background-color: #FFA400;color: #fff;border-radius: 4px;}
				p, a{font-size: 13px;font-weight: bold;line-height: 25px;}
				.dashboard-options-list-hint{font-size: 12px;font-weight: 300 !important;line-height: 20px;margin-top: 8px;}
				&:last-child{border-bottom: none;}
				&:after{clear: both;display: block;content: "";}
			}
		}
		b{color: darken($theme, 10%);}
		&#dashboard-wallet-add{margin-top: 15px;}
	}
	.service-start-button{margin-top: 15px;
		div{text-align: center;
			p{font-weight: bold;color: #fff;background-color: $theme;display: inline-block;padding: 5px 10px;border-radius: 5px;font-size: 13px;cursor: pointer;}
		}
	}
	.crypto-pay-row{
		img{vertical-align: middle;}
		.payment-logo{
			&#ethereum-logo{float: left;width: unset;width: 120px;text-align: center;padding: 42px 0;}
		}
		#crypto-qr{float: right;margin-right: 10px;}
		&:after{clear: both;display: block;content: "";}
	}
	.download-file-button{text-align: right;
		a{font-size: 13px;line-height: 20px;background: #19B5FE;font-weight: bold;margin-top: 12px;padding: 5px 10px;border-radius: 5px;color: #fff;display: inline-block;box-sizing: border-box;
			i{margin-right: 3px;}
		}
	}
	#place_order_spinner{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 20;background-color: #fff;border-radius: 5px;opacity: 1;transition: 250ms;
		.spinner{position: absolute;top: calc(50% - 20px);left: calc(50% - 25px);}
		.preloader-text{font-size: 12px;font-weight: bold;padding-top: 50px;}
		&.closing{opacity: 0;}
	}
	#ppk, #final-amount{margin-top: 15px;padding-left: 5px;
		p{font-size: 13px;font-weight: bold;line-height: 24px;}
	}
	.transactions-list-history{margin: 0;padding: 0;
		li{padding: 10px;border-bottom: 1px solid #eee;
			p{font-size: 13px;line-height: 20px;}
			b{
				a{color: #333;text-decoration: underline;
					i{font-size: 10px;vertical-align: super;}
				}
			}
			&:last-child{border-bottom: none;}
		}
		.transaction-status{margin-top: 12px;border-radius: 5px;box-shadow: -2px 2px 5px 0 rgba(0,0,0,0.15);
			.status-title{float: left;}
			.status-detail{float: right;}
			p{color: #fff;font-weight: bold;}
			&.Pending{background-color: #BF55EC;padding: 5px 10px;}
			&.Cancelled{background-color: $red;padding: 5px 10px;}
			&.Completed{background-color: $green;padding: 5px 10px;}
			&:after{clear: both;display: block;content: "";}
		}
	}
}

#preloader{
	.preloader-text{padding-top: 15px;}
}
.order-status{font-weight: bold;margin-top: 12px;padding: 5px 10px;border-radius: 5px;color: #fff;
	&.Recieved{background-color: #BF55EC;}
	&.Cancelled{background-color: $red;}
	&.Complete{background-color: $green;}
}

.add-guidelines{font-size: 13px;margin-top: 15px;line-height: 18px;
	a{color: darken($theme, 10%);}
}

.form-field{
	.hint{font-size: 11px;margin-bottom: 8px;padding: 0 5px;}
}

.scan-qr-code{font-weight: bold;font-size: 13.5px;text-align: center;margin-top: 18px;margin-bottom: 10px;color: $green;}
#qr-scan{text-align: center;margin-bottom: 18px;
	svg{width: 200px;}
}

#telegram-members-modal{position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;z-index: 15;background-color: rgba(0,0,0,0.5);display: none;transition: 500ms;opacity: 0;
	#telegram-members-vertical{display: table-cell;vertical-align: middle;
		#telegram-members-container{width: 100%;max-width: 350px;padding: 0 15px;box-sizing: border-box;margin: 0 auto;
			#telegram-members-box{width: 100%;min-height: 150px;background-color: #fff;border-radius: 5px;overflow: hidden;box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);transition: 500ms;transform: translateY(-5vh);position: relative;position: relative;
				#close-box{position: absolute;top: 8px;right: 8px;
					i{color: #fff;cursor: pointer;}
				}
			}
			#telegram-members-overlay{position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 30;background-color: #fff;border-radius: 5px;display: none;
				.preloader-text{font-size: 12px;font-weight: bold;padding-top: 50px;}
				.sk-cube-grid{position: absolute;top: calc(50% - 20px);left: calc(50% - 20px);margin: 0;}
			}
			#telegram-members-header{text-align: center;
				p{background-color: $theme;color: #fff;font-size: 13px;font-weight: bold;line-height: 32px;padding: 0 10px;}
			}
			#telegram-members-body{padding: 10px 15px;}
			input{width: 100%;background-color: #eee;height: 32px;border-radius: 5px;padding: 0 10px;box-sizing: border-box;font-size: 13px;font-weight: bold;margin-top: 5px;text-align: center;}
			#telegram-members-start-button{padding: 0 15px;
				button{width: 100%;height: 32px;background-color: $theme;color: #fff;margin-bottom: 15px;font-size: 13px;font-weight: bold;border-radius: 5px;cursor: pointer;}
			}
			#telegram-members-warning{padding: 0 20px;margin: 0px 0 10px 0;
				p{font-size: 12.5px;color: #333;font-weight: bold;
					&.error{color: #C3272B;}
				}
			}
			.telegram-members-list-field{
				#telegram-members-link-placeholder{background: $theme;line-height: 32px;padding: 0 10px;width: 92px;float: left;box-sizing: border-box;border-radius: 5px 0 0 5px;
					p{font-weight: bold;color: #fff;font-size: 13px;}
				}
				input{float: left;width: calc(100% - 92px);margin-top: 0;box-sizing: border-box;margin: 0;border-radius: 0 5px 5px 0;text-align: left;}
				&:after{clear: both;display: block;content: "";}
			}
		}
	}
	&.open{opacity: 1;
		#telegram-members-vertical #telegram-members-container #telegram-members-box{transform: translateY(0);}
	}
}

table{border-collapse: collapse;}

.dashboard-table{width: 100%;margin-top: 15px;
	a{
		&, &:visited{color: darken($theme, 5%);}
	}
	tr{border-bottom: 1px solid #eee;
		&:last-child{border-bottom: none;}
	}
	th{font-size: 11px;font-weight: bold;}
	th, td{padding: 4px 8px;line-height: 14px;text-align: center;}
	td{font-size: 12px;font-weight: bold;
		p{display: inline-block;padding: 4px 8px;color: #fff;border-radius: 4px;}
		&.Recieved{p{background-color: #BF55EC;}}
		&.Cancelled{p{background-color: $red;}}
		&.Complete{p{background-color: $green;}}
		&:first-child{text-align: left;}
	}
}

.ico-services{
	#ico-title{margin-bottom: 12px;
		p{font-size: 32px;font-weight: bold;}
	}
	ul{padding-left: 30px;
		li{list-style-type: disc;margin-bottom: 5px;
			p{font-weight: bold;font-size: 13.5px;line-height: 17px;}
		}
	}
	#ico-banner{padding: 0 5px;margin-bottom: 15px;
		#ico-banner-inner{background-color: #763568;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");border-radius: 5px;background-size: 60px;padding: 15px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);position: relative;
			#rotating-cog{position: absolute;right: 12px;top: 12px;font-size: 36px;
				i{color: #f6f6f6;}
			}
			p{color: #f6f6f6;text-shadow: 2px -2px 5px rgba(0,0,0,0.15);}
		}
	}
}

#buy-package-button{text-align: center;padding-top: 20px;padding-bottom: 15px;
	a{padding: 10px 12px;background: #0088cc;color: #f6f6f6;font-weight: bold;font-size: 14px;vertical-align: middle;border-radius: 5px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);width: 209px;
		i{color: #f6f6f6;margin-right: 5px;}
	}
}
#download-brochure-button{text-align: center;padding-top: 20px;padding-bottom: 15px;
	a{padding: 10px 12px;background: #26A65B;color: #f6f6f6;font-weight: bold;font-size: 14px;vertical-align: middle;border-radius: 5px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);width: 209px;
		i{color: #f6f6f6;margin-right: 5px;}
	}
}

.card-inner-title{font-size: 13.5px;font-weight: bold;}

#account-details-row{box-sizing: border-box;margin: 15px -10px;
	.account-detail{width: 33.33%;padding: 0 7.5px;float: left;box-sizing: border-box;text-align: center;}
	.account-detail-card{background: $theme;padding: 10px 0;box-sizing: border-box;border-radius: 5px;box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
		p{color: #fff;}
		.detail-title{font-size: 12px;font-weight: bold;margin-bottom: 6px;}
		.detail-content{font-size: 13.5px;font-weight: bold;}
	}
	&:after{clear: both;display: block;content: "";}
}

#quantity-error{color: #C3272B;font-weight: bold;font-size: 12px;margin-left: 6px;margin-top: 14px;}

#members-sheet{background: #fff;}
.members-p{margin-bottom: 14px;font-weight: bold;font-size: 13px;padding: 12px;padding-bottom: 0;padding-left: 10px;
	a{
		&, &:visited{color: $theme;}
	}
}
#members-list{padding-bottom: 12px;}
#members-list p{font-weight: bold;font-size: 13px;padding: 0 12px;}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@media ( max-width: 720px ) {
	#dashboard-container{width: calc(100% - 30px);margin-left: 15px;margin-right: 15px;}
}