#banner{height: 420px;/*@include background-image('/dist/img/banner-bk.jpg', $theme, 0.5);*/background-size: cover;border-radius: 0 0 50% 50%;width: 150vw;margin-left: -25vw;display: table;background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/dist/img/banner-bk.jpg');background-size: 100%;
	#banner-vertical{display: table-cell;vertical-align: middle;
		#banner-container{width: 100%;max-width: 650px;padding: 0 15px;box-sizing: border-box;margin: 0 auto;
			#banner-box{text-align: center;
				.banner-title{color: #fff;font-size: 22px;font-weight: bold;margin-bottom: 8px;}
				.banner-content{color: #f6f6f6;font-size: 16px;}
				#request-proposal-container{margin-top: 15px;
					#request-proposal{background-color: #fff;color: $theme;padding: 5px 10px;display: inline-block;border-radius: 4px;cursor: pointer;color: #333;
						p{font-weight: bold;font-size: 14px;
							i{margin-left: 4px;}
						}
					}
				}
				.go-to-dashboard{background-color: #fff;color: $theme;display: inline-block;border-radius: 4px;cursor: pointer;margin-top: 15px;
					a{font-weight: bold;font-size: 14px;display: block;padding: 8px 14px;
						i{margin-left: 4px;}
						&, &:visited{color: #191919;}
					}
				}
			}
		}
	}
}

.feature-box{text-align: center;background-color: $theme;margin-top: 20px;padding: 20px 15px;border-radius: 10px;transform: scale(1);transition: 250ms;box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
	.icon{margin-bottom: 12px;
		i{font-size: 38px;color: #fff;}
	}
	.title{
		p{font-size: 18px;color: #fff;margin-top: 10px;font-weight: bold;}
	}
	.text{
		p{margin-top: 10px;color: #fff;font-size: 14px;}
	}
	ul{color: #fff;}
	li{list-style-type: disc;text-align: left;}
	&:hover{
		transform: scale(1.1);box-shadow: -2px 2px 5px 0 rgba(0,0,0,0.15);
	}
}

#help-section{padding: 20px 12.5px;
	.wide-col{width: 33.33%;float: left;padding: 0 25px;
		.image{
			img{width: 50%;margin: 0 auto;}
		}
		.title{font-weight: bold;margin-bottom: 5px;font-size: 16px;color: #191919;}
		.content{
			p{font-size: 14.5px;
				a{text-decoration: underline;
					&, &:visited{color: #191919;}
				}
			}
		}
	}
}

.modal{position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;display: none;background-color: rgba(0,0,0,0.5);z-index: 5;opacity: 0;transition: 500ms;
	.modal-vertical{display: table-cell;vertical-align: middle;
		.modal-container{width: 100%;max-width: 500px;margin: 0 auto;padding: 0 15px;box-sizing: border-box;
			.modal-box{background-color: #fff;border-radius: 5px;transition: 500ms;transform: translateY(-5vh);box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
				.fields{padding: 0 10px;margin-bottom: 10px;}
				.modal-header{padding: 15px;margin-bottom: 10px;background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("/dist/img/auth-header.jpg");border-radius: 5px 5px 0 0;background-size: cover;background-position: center;height: 112px;box-sizing: border-box;
					p{font-weight: bold;line-height: 38px;color: #f6f6f6;
						&.modal-header-content{font-size: 13px;line-height: 18px;padding: 0 4px;}
					}
				}
				.modal-body{padding: 10px 0;
					input, textarea{background-color: #eee;}
					input{height: 34px;}
					textarea{height: 240px;}
					input, textarea, button{font-size: 13.5px;box-sizing: border-box;border-radius: 5px;font-weight: bold;}
				}
				.modal-footer{}
			}
			
			.fields:after{clear: both;display: block;content: "";}
			.field{position: relative;float: left;padding: 0 10px;width: 100%;box-sizing: border-box;
				label{display: block;margin-bottom: 3px;font-weight: bold;
    left: 10px;cursor: pointer;transition: 250ms;color: #666;}
				input, label{width: 100%;font-size: 13.5px;padding: 0 10px;}
				label{padding: 0 5px;}
				&:last-of-type {margin-top: 20px;}
			}
		}
	}
	&.open{opacity: 1;
		.modal-vertical .modal-container .modal-box{transform: translateY(0);}
	}
}

.services-options{padding: 0 15px;margin-top: 20px;
	.option{float: left;width: 33.33%;text-align: center;padding: 0 10px;box-sizing: border-box;margin-bottom: 20px;
		.card{padding: 15px 0;}
		.card{background-color: $theme;border-radius: 5px;transition: 100ms;cursor: pointer;display: block;
			&:hover{background: darken($theme, 10%);}
		}
		input[type='checkbox']{display: none;
			& + label{}
			&:checked + label{background-color: $green;box-sizing: border-box;}
		}
		i{font-size: 32px;margin-bottom: 8px;}
		p{font-size: 13px;font-weight: bold;}
		p, i{color: #fff;}
	}
	&:after{clear: both;display: block;content: "";}
}

.modal-buttons{padding: 0 20px;margin-bottom: 5px;
	.right{float: right;}
	.left{float: left;}
	#request-quotation-submit, #request-quotation-cancel{color: #fff;display: block;line-height: 32px;padding: 0 10px;border-radius: 5px;font-size: 13px;font-weight: bold;cursor: pointer;transition: 100ms;}
	#request-quotation-cancel{background: $red;
		i{font-size: 0.8em;margin-right: 4px;}
		&:hover{background-color: darken($red, 10%)}
	}
	#request-quotation-submit{background: $green;
		i{font-size: 0.8em;margin-left: 4px;}
		&:hover{background-color: darken($green, 10%)}
	}
	&:after{clear: both;display: block;content: "";}
}

#steps-section{
	#steps-container{width: 920px;margin: 2px auto;
		.step{float: left;width: 16.66%;background-color: $theme;height: 120px;position: relative;border-radius: 0px;padding: 0 15px;box-sizing: border-box;position: relative;border-right: 2px solid #fff;display: table;
			.step-vertical{vertical-align: middle;display: table-cell;display: table;z-index: 10;padding: 10px;height: 100%;padding: 5px;text-align: center;box-sizing: border-box;width: 100%;display: table-cell;vertical-align: middle;}
			p{display: block;vertical-align: middle;color: #fff;font-weight: bold;margin-top: 8px;}
			i{font-size: 28px;color: #fff;display: block}
			//&:after{display: block;content: "";border-right: 2px solid #fff;border-top: 2px solid #fff;position: absolute;bottom: calc(50% - 2px);left: calc(100% - 4.54px);z-index: 5;width: 10px;height: 10px;transform: rotate(45deg);background-color: $theme;}
			&#facebook{background-color: #3b5998;}
			&#twitter{background-color: #1da1f2;}
			&#telegram{background-color: #0088cc;}
			&#google-plus{background-color: #dd4b39;}
			&#sound-cloud{background-color: #ff3300;}
			&#youtube{background-color: #ff0000;}
			&:last-child{
				&:after{display: none;}
			}
		}
		&:after{clear: both;display: block;content: "";}
	}
}

#step-description{width: 100%;width: 740px;margin: 0 auto;background: url('/dist/img/kick-start.svg');margin-top: 18px;padding: 15px 22px;box-sizing: border-box;border-radius: 5px;background-size: 30%;background-repeat: no-repeat;background-position: right;padding: 15px;margin-top: 35px;border: 1px solid #aaa;
	.description{width: 60%;}
	.steps-title{font-size: 20px;font-weight: bold;margin-bottom: 8px;color: #333;}
	li{list-style-type: disc;margin-bottom: 8px;font-size: 14.5px;color: #333;
		span{font-weight: bold;}
	}
}

#register-section{}

#request-quotation-modal{
	#close-auth-box{position: absolute;top: 12px;right: 12px;
		i{font-size: 18px;color: #fff;cursor: pointer;text-shadow: 2px -2px 5px rgba(0,0,0,0.15);}
	}
	form:after{clear: both;display: block;content: "";}
	.modal-container{max-width: 600px;}
	.modal-box{position: relative;}
	.modal-container:after{clear: both;display: block;content: "";}
	.modal-header{width: 50%;float: left;height: 380px;border-radius: 0 5px 5px 0;margin-bottom: 0;}
	.modal-body{width: 50%;float: left;height: 380px;background: #fff;box-sizing: border-box;border-radius: 5px 0 0 5px;position: relative;
		.modal-buttons{position: absolute;bottom: 10px;left: 0;width: 100%;box-sizing: border-box;}
	}
	.login-modal-title{font-size: 24px;font-weight: bold;padding: 10px 15px;}
	.modal-header-content{font-size: 13px;font-weight: bold;padding: 10px 18px;padding-top: 8px;margin-bottom: 12px;}
	.right{float: right;}
	.other-clear{padding: 0 25px;}
	.other-clear:after{clear: both;display: block;content: "";}
	.other-options{margin-bottom: 15px;
		a{font-size: 13px;color: #333;font-weight: bold;color: $theme;}
	}
}

#challenges-section{
	.icon{
		svg{width: 50%;height: 50px;display: block;margin: 22px auto;}
	}
	.section-title{margin-bottom: 20px;}
	.four-col{width: 25%;float: left;padding: 0 15px;box-sizing: border-box;
		p{font-size: 13.4px}
		.title{font-weight: bold;margin-bottom: 7px;font-size: 14px;color: #333;}
	}
}

#register-section{margin-top: 20px;
	form{box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.15);padding: 20px;background: #eee;border-radius: 5px;}
	input{box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);}
	p{width: calc(33.33% - 60px);float: left;padding: 0 10px;box-sizing: border-box;}
	label{font-weight: bold;font-size: 13px;margin-left: 4px;margin-bottom: 4px;}
	input, button{width: 100%;height: 36px;}
	input, label, button{display: block;}
	.submit{width: 180px;float: left;padding: 0 10px;box-sizing: border-box;
		button{margin-top: 20px;cursor: pointer;background-color: $theme;color: #fff;height: 38px;font-size: 13px;}
	}
	input, button{border-radius: 5px;font-size: 13px;font-weight: bold;color: #555;padding: 0 10px;box-sizing: border-box;}
	form:after{clear: both;display: block;content: "";}
}

#home-features{
	.three-col{
		&:nth-child(3n){
			.feature-box{background: linear-gradient(135deg,#facd00,#ff8400 60%);}
		}
		&:nth-child(3n + 1){
			.feature-box{background: linear-gradient(135deg,#3b4e57,#101619 60%);}
		}
		&:nth-child(3n + 2){
			.feature-box{background: linear-gradient(135deg,#945cc3,#704396 60%);}
		}
	}
}

#services-section{
	.section-title{margin-bottom: 22px;}
	.service{width: 20%;float: left;margin: 15px 0;padding: 0 15px;box-sizing: border-box;position: relative;
		.image{
			&#regular-posts{background-image: url('/dist/images/services/regular-posts.svg');}
			&#social-strategy{background-image: url('/dist/images/services/social-strategy.svg');}
		}
		.title{font-size: 13px;font-weight: bold;text-align: center;margin-top: 14px;padding: 0 10px;}
		.content{text-align: center;margin-top: 8px;font-size: 14px;padding: 0 10px;padding-bottom: 10px;}
		&#influencer-marketing{
			&:before{background-image: url('/dist/img/services/influencer-marketing.svg');}
		}
		&#regular-posts{
			&:before{background-image: url('/dist/img/services/regular-posts.svg');}
		}
		&#social-strategy{
			&:before{background-image: url('/dist/img/services/social-strategy.svg');}
		}
		&#social-updates{
			&:before{background-image: url('/dist/img/services/social-updates.svg');}
		}
		&#speech{
			&:before{background-image: url('/dist/img/services/speech.svg');}
		}
		&#like-dislike{
			&:before{background-image: url('/dist/img/services/like-dislike.svg');}
		}
		&#online-discussion{
			&:before{background-image: url('/dist/img/services/online-discussion.svg');}
		}
		&#press-release{
			&:before{background-image: url('/dist/img/services/press-release.svg');}
		}
		&#campaign-optimization{
			&:before{background-image: url('/dist/img/services/campaign-optimization.svg');}
		}
		&#article-writing{
			&:before{background-image: url('/dist/img/services/article-writing.svg');}
		}
		&:before{display: block;content: "";height: 100px;width: 100%;display: table;background-size: 120px;background-position: center center;background-repeat: no-repeat;}
		&:after{display: block;content: "";position: absolute;top: 0;left: 50%;width: 2px;height: 100%;background: #eee;transform: scaleX(0);transition: 500ms;z-index: -1;}
		&:hover{
			&:after{height: 100%;transform: scaleX(100);}
		}
	}
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 120px;
    bottom: -1px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@media (max-width: 720px) {
	#steps-section #steps-container{width: 100%;padding: 0 10px;box-sizing: border-box;}
	#steps-section #steps-container .step{width: 50%;margin-bottom: 2px;float: left;
		&:after{bottom: -7.4px;left: calc(50% - 4.54px);transform: rotate(135deg);}
	}
	#steps-section #steps-container{margin: 0;}
	#register-section p{width: 100%;float: none;margin-top: 18px;}
	#register-section .submit{width: 100%;}
	.feature-box{margin-top: 10px;}
	#footer #footer-skew{display: none;}
	.container{width: 100%;padding: 0 10px;box-sizing: border-box;}
	#footer #footer-other-content{width: 100%;padding: 0 15px;box-sizing: border-box;}
	#footer #footer-links{width: 100%;padding: 10px 0;}
	#footer #footer-form-left{width: 100%;padding: 0 10px;box-sizing: border-box;margin-top: 20px;}
	#help-section .wide-col{width: 100%;padding: 0 10px;box-sizing: border-box;margin-top: 20px;}
	#step-description{width: 100%;padding: 20px 10px;box-sizing: border-box;}
	#footer-links{margin-bottom: 12px;
		div{float: left;width: 50%;}
	}
	#services-section{
		.service{width: 50%;height: 233px;}
	}
	#footer-copy .right{float: left;}
	#request-quotation-modal .modal-body{width: 100%;}
	#request-quotation-modal .modal-header{display: none;}
}