$theme: #875F9A;
//$theme: #4DAF7C;
$green: #26A65B;
$red: #C3272B;

@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans:400,700&display=swap');
@import "base";
@import "home";
@import "preloader";
@import "dashboard";
