{% extends 'public/base.html' %}

{% block title %}SMMPanel - World's fatest growing SMM Panel{% endblock %}

{% block content %}
<div class="container" id="public-content-container">
	<p class="public-page-title">Our Services</p>
	<div class="public-page-content">
		<p>SMMPanel.guru will only be used to promote your Instagram/Twitter/Facebook or Social account and help boost your "Appearance" only.</p>
		<p>We DO NOT guarantee your new followers will interact with you, we simply guarantee you to get the followers you pay for.</p>
		<p>We DO NOT guarantee 100% of our accounts will have a profile picture, full bio and uploaded pictures, although we strive to make this the reality for all accounts.</p>
		<p>You will not upload anything into the SMMPanel.guru site including nudity or any material that is not accepted or suitable for the Instagram/Twitter/Facebook or Social Media community.</p>
		<p>Private accounts would not a get a refund! Please insure that your account is public before ordering.</p>
	</div>
</div>
{% endblock %}