{% extends 'public/base.html' %}

{% block title %}SMMPanel - World's fatest growing SMM Panel{% endblock %}

{% block content %}
<div class="container" id="public-content-container">
	<p class="public-page-title">Privacy Policy</p>
	<div class="public-page-content">
		<p>This policy covers how we use your personal information. We take your privacy seriously and will take all measures to protect your personal information.</p>
		<p>Any personal information received will only be used to fill your order. We will not sell or redistribute your information to anyone. All information is encrypted and saved in secure servers.</p>
	</div>
</div>
{% endblock %}