{% extends 'public/base.html' %}

{% block title %}SMMPanel - World's fatest growing SMM Panel{% endblock %}

{% block content %}
<div class="container" id="public-content-container">
	<p class="public-page-title">Refund Policy</p>
	<div class="public-page-content">
		<p>No refunds will be made to your payment method. After a deposit has been completed, there is no way to reverse it. You must use your balance on orders from SMMPanel.guru.</p>
		<p>You agree that once you complete a payment, you will not file a dispute or a chargeback against us for any reason.</p>
		<p>f you file a dispute or charge-back against us after a deposit, we reserve the right to terminate all future orders, ban you from our site. We also reserve the right to take away any followers or likes we delivered to your or your clients Instagram/Facebook/Twitter or other social media account.</p>
		<p>Orders placed in SMMPanel.guru will not be refunded or canceled after they are placed.You will receive a refund credit to your SMMPanel.guru account if the order is non deliverable</p>
		<p>Misplaced or Private account orders will not qualify for a refund. Be sure to confirm each and every order before placing it.</p>
		<p>Fraudulent activity such as using unauthorized or stolen credit cards will lead to termination of your account. There are no exceptions.</p>
		<p>Please do not use more than one server at the same time for the same page. We cannot give you correct followers/likes number in that case. We will not refund for these orders.</p>
	</div>
</div>
{% endblock %}