{% extends 'dashboard/base.html' %}

{% block content %}
<div id="dashboard-container">
	<p class="card-title">Hi {{ user.get_username }}</p>
	<p class="card-text"></p>
	<div id="account-details-row">
		<div class="account-detail">
			<div class="account-detail-card">
				<p class="detail-title">Total Balance</p>
				<p class="detail-content">{{ balance }}$</p>
			</div>
		</div>
		<div class="account-detail">
			<div class="account-detail-card">
				<p class="detail-title">Total Spent</p>
				<p class="detail-content">{{ spent }}$</p>
			</div>
		</div>
		<div class="account-detail">
			<div class="account-detail-card">
				<p class="detail-title">No. of orders</p>
				<p class="detail-content">{{ orders | length }}</p>
			</div>
		</div>
	</div>
	<p class="card-inner-title">Last orders</p>
	{% if orders %}
	<p class="card-text">Here is a list of last {{ orders | length }} orders placed by you. To view all orders, please go to <b><a href="{% url 'orders' %}">Orders</a></b> page.</p>
	<table class="dashboard-table">
		<tr>
			<th>Link</th>
			<th>Quantity</th>
			<th>Status</th>
		</tr>
		{% for order in orders %}
		<tr>
			{% if order.slug %}<td><a href="https://t.me/{{ order.link }}" target="_blank">https://t.me/{{ order.link }}</a></td>{% else %}<td><a href="{{ order.link }}" target="_blank">{{ order.link }}</a></td>{% endif %}
			<td>{{ order.quantity }}</td>
			<td class="{{ order.status }}">
				<p>{{ order.status }}</p>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p class="card-text">You have not placed any orders. The orders that you place will appear here.</p>
	{% endif %}
	<div class="home-buttons">
		<div class="left">
			<div class="button">
				<a href="{% url 'new-order' %}">Place order</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}