{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div id="dashboard-container">
	<a id="back-button" href="{% url 'transactions' %}"><i class="fas fa-chevron-left"></i> Back</a>
	<p class="card-title">Your orders</p>
	{% if orders %}
	<ul class="transactions-list-history">
	{% for order in orders %}
		<li>
			<p class="order-name"><b>{{ order.service_name }}</b></p>
			<p class="order-quantity"><b> Quantity :</b> {{ order.quantity }}</p>
			<p class="order-charge"><b>Order amount :</b> {{ order.amount }} $</p>
			<p class="order-remark"><b>Remark :</b> {{ order.remark }}</p>
			<div class="mrow">
				<p class="order-time"><b>Order date :</b>{{ order.created_at | date:"SHORT_DATE_FORMAT" }}</p>
				<p class="order-status {{ order.status }}">{{ order.status }}</p>
			</div>
			{% if order.generate_url %}
			<div class="download-file-button">
				<a href="{{ order.generate_url.url }}" target="_blank"><i class="fas fa-file"></i> Download file</a>
			</div>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	{% else %}
	<div class="add-guidelines">
		<p><b>You have not placed any orders. Go to  <a href="{% url 'new-order' %}">Place order</a> to place an order.</b></p>
	</div>
	{% endif %}
</div>
{% endblock %}