<div id="request-quotation-modal" class="modal">
	<div class="modal-vertical">
		<div class="modal-container">
			<div class="modal-box">
				<div id="close-auth-box">
					<i class="fas fa-times"></i>
				</div>
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					<div class="modal-body">
						<p class="login-modal-title">Login</p>
						<p class="modal-header-content">Please enter the Username and Password you used to sign up on our website.</p>
						<div class="fields">
							<div class="field">
								<label for="username">Username</label>
								<input name="username" autocomplete="false" id="full-name" placeholder="Enter username" type="text" required />
							</div>
							<div class="field">
								<label for="password">Password</label>
								<input name="password" autocomplete="false" id="password" type="password" placeholder="Enter password" required />
							</div>
						</div>
						<div class="other-options">
							<div class="other-clear">
								<a href="{% url 'password_reset' %}" class="right">Forgot Password ?</a>
							</div>
						</div>
						<div class="modal-buttons">
							<div class="left">
								<p id="request-quotation-cancel"><i class="fas fa-times"></i> Cancel</p>
							</div>
							<div class="right">
								<button type="submit" id="request-quotation-submit">Login  <i class="fas fa-check"></i></button>
							</div>
						</div>
					</div>
					<div class="modal-header">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>