{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div id="dashboard-container">
	<a id="back-button" href="{% url 'transactions' %}"><i class="fas fa-chevron-left"></i> Back</a>
	<p class="card-title">UPI Transactions</p>
	{% if transactions %}
	<ul class="transactions-list-history">
		{% for transaction in transactions %}
		<li>
			<p class="email-address"><b>Email Address :</b> <span>{{ transaction.number }}</span></p>
			<p class="wallet-amount"><b>Paid :</b> <span> {{ transaction.amount }} INR</span></p>
			<p class="wallet-transaction-id"><b>Transaction ID :</b> 1jk2n3kj1n23kj1nkj3n</p>
			<p class="wallet-time"><b>Transaction date</b> {{ transaction.created_at | date:"SHORT_DATE_FORMAT" }}</p>
			<p class="remark"><b>{{ transaction.remark }}</b></p>
			<div class="mrow transaction-status {{ transaction.status }}">
				<p class="status-title">Status</p>
				<p class="status-detail">{{ transaction.status }}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<div class="add-guidelines">
		<p><b>You have no transactions in UPI. You can add balance using UPI. Just pay to UPI ID <b>smmpanel.guru@ybl</b>, and fill up the form  on page <a href="{% url 'add-upi' %}">Add funds using UPI</a></b></p>
	</div>
	{% endif %}
</div>
{% endblock %}