{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div id="dashboard-container">
	<a id="back-button" href="{% url 'wallet' %}"><i class="fas fa-chevron-left"></i> Back</a>
	<p class="card-title">Add funds using Ethereum</p>
	<div class="crypto-pay-row">
		<div id="ethereum-logo" class="payment-logo">
			<img src="{% static 'img/ethereum.png' %}" alt="Bitcoin logo">
		</div>
		<div id="crypto-qr">
			<img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=0x65ee73bb9ba86285babdfa4058be689ae754a67a&chld=L|1&choe=UTF-8" alt="Address QR Code" />
		</div>
	</div>
	<div id="payment-hash">
		<p>0x65ee73bb9ba86285babdfa4058be689ae754a67a</p>
		<!--<span id="click-to-copy"><i class="fas fa-copy"></i> Click to copy</span>-->
	</div>
	<p class="hint-text">After paying ethereum to this address, please fill in this form. After filling, your balance will be updated within 4 hours. If you have any query, please feel free to contact us at admin@smmpanel.guru<!-- or at Telegram at @streak9-->.</p>
	<p class="hint-text">Minimum payment should be of at least 50$ equivalent ETH. Bitcoins paid below 50$ will be refunded, and will not be added. Transaction fee or mining fee will not be refunded.</p>
	<p class="hint-text --important --success --center">Minimum Amount : 50$</p>

	<form method="post">
		{% csrf_token %}
		<div class="form-field">
			<label for="wallet-id">Ethereum Wallet Address</label>
			<input id="wallet-id" name="address" type="text" placeholder="Please enter the wallet address you are paying from" autocomplete="off" required>
		</div>
		<div class="form-field">
			<label for="amount">Amount in ETH</label>
			<input id="amount" name="amount" type="text" autocomplete="off" placeholder="Please enter the amount you have in ETH" required>
		</div>
		<div class="form-field">
			<label for="txn-id">Transaction ID</label>
			<input id="txn-id" name="txn-id" type="text" autocomplete="off" placeholder="Please enter the Transcation ID of the Transcation" required>
		</div>
		<input type="hidden" name="usd_value" id="usd_value">
		<p id="amount_in_usd" class="hint-text --important --success --center">Around 0.00 USD will be added to your account</p>
		<div id="ethereum-page"></div>
		<div class="form-field">
			<button id="wallet-id" type="submit">Submit</button>
		</div>
	</form>
</div>
{% endblock %}