{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div id="dashboard-container">
	<a id="back-button" href="{% url 'wallet' %}"><i class="fas fa-chevron-left"></i> Back</a>
	<p class="card-title">Add funds using PayPal</p>
	<div id="paytm-logo" class="payment-logo">
		<img src="{% static 'img/paypal.png' %}" alt="PayPal logo">
	</div>
	<p class="hint-text">Please pay to Paypal ID <b>smmpanelguru@gmail.com</b> and then fill up the form below. After filling, your balance will be updated within 4 hours. If you have any query, please feel free to contact us at admin@smmpanel.guru.</p>
	<p class="hint-text">In remark, please write "I will ask for refund from website only".</p>
	<p class="hint-text --important --success --center">Minimum Amount : 20$</p>

	<form method="post">
		{% csrf_token %}
		<div class="form-field">
			<label for="email-id">Paypal Email ID</label>
			<input id="email-id" name="email_id" type="text" placeholder="Please enter Paypal ID you paid from" required>
		</div>
		<div class="form-field">
			<label for="amount">Amount in USD</label>
			<input id="amount" name="amount" type="number" placeholder="Please enter the amount you paid in USD" required>
		</div>
		<div class="form-field">
			<label for="txn_id">Transaction ID</label>
			<input id="txn_id" name="txn-id" type="text" placeholder="Please enter the Transaction ID" required>
		</div>
		<div class="form-field">
			<button id="wallet-id" type="submit">Submit</button>
		</div>
	</form>
</div>
{% endblock %}
