{% load static %}<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta name="robots" content="index, follow" />
		<link rel=”alternate” href=”http://example.com” hreflang=”en-us” />
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<meta http-equiv="expires" content="43200" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="{% block keywords %}{% endblock %}" />
		<meta name="description" content="{% block description %}{% endblock %}" />
		<link rel="canonical" href="https://smmpanel.guru" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	</head>
	<body bgcolor="#763568">
		{% if messages %}
		<ul class="messages" id="error-message">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		    <div id="close-messages">
		    	<i class="fas fa-times"></i>
		    </div>
		</ul>
		{% endif %}
		<div id="top-nav">
			<div class="left">
				<div id="dashboard-logo">
					<a id="logo" href="{% url 'home' %}">
						<div id="logo-img">
							<img src="{% static 'img/logo.png' %}" />
						</div>
						<p><b>SMM</b>Panel</p>
					</a>
				</div>
			</div>
			<div class="right">
				<p id="login-username">Balance {{ balance }} USD</p>
				<div id="dashboard-logout-button">
					<a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
				</div>
			</div>
		</div>
		<div id="side-nav">
			<ul>
				<li class="{% if curr == 'home' %}selected{% endif %}">
					<a href="{% url 'dashboard-home' %}">
						<div class="icon">
							<i class="fas fa-home"></i>
						</div>
						<div class="name">
							<p>Home</p>
						</div>
					</a>
				</li>
				<li class="{% if curr == 'new-order' %}selected{% endif %}">
					<a href="{% url 'new-order' %}">
						<div class="icon">
							<i class="fas fa-cart-plus"></i>
						</div>
						<div class="name">
							<p>New Order</p>
						</div>
					</a>
				</li>
				<li class="{% if curr == 'orders' %}selected{% endif %}">
					<a href="{% url 'orders' %}">
						<div class="icon">
							<i class="fas fa-list"></i>
						</div>
						<div class="name">
							<p>Orders</p>
						</div>
					</a>
				</li>
				<li class="{% if curr == 'wallet' %}selected{% endif %}">
					<a href="{% url 'wallet' %}">
						<div class="icon">
							<i class="fas fa-wallet"></i>
						</div>
						<div class="name">
							<p>Add funds</p>
						</div>
					</a>
				</li>
				<li class="{% if curr == 'transactions' %}selected{% endif %}">
					<a href="{% url 'transactions' %}">
						<div class="icon">
							<i class="fas fa-clipboard-list"></i>
						</div>
						<div class="name">
							<p>Transactions</p>
						</div>
					</a>
				</li>
				<li class="{% if curr == 'telegram' %}selected{% endif %}">
					<a href="{% url 'telegram-services' %}">
						<div class="icon">
							<i class="fab fa-telegram-plane"></i>
						</div>
						<div class="name">
							<p>Telegram</p>
						</div>
					</a>
				</li>
				<li>
					<a href="{% url 'ico-services' %}">
						<div class="icon">
							<i class="fab fa-bitcoin"></i>
						</div>
						<div class="name">
							<p>ICO Services</p>
						</div>
					</a>
				</li>
				<!--<li>
					<a href="{% url 'website-services' %}">
						<div class="icon">
							<i class="fab fa-chrome"></i>
						</div>
						<div class="name">
							<p>Website</p>
						</div>
					</a>
				</li>
				
				<li>
					<a href="{% url 'press-release-services' %}">
						<div class="icon">
							<i class="far fa-newspaper"></i>
						</div>
						<div class="name">
							<p>Press</p>
						</div>
					</a>
				</li>-->
			</ul>
		</div>
		<div id="dashboard-body">
			{% block content %}{% endblock %}
		</div>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
