{% load static %}<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="robots" content="index, follow" />
		<link rel=”alternate” href=”https://smmpanel.guru” hreflang=”en-us” />
		<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″ />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="{% block keywords %}{% endblock %}" />
		<meta name="description" content="SMMPanel is a platform that enables you to optimize and boost your Social Media Profiles. SMMPanel is a unique tool that is a part of every succesful Digital Marketer's toolbox. Come and be a part of our ever growing platform and it's community. " />
		<link rel="canonical" href="https://smmpanel.guru" />
		<meta property="og:url" content="https://smmpanel.guru">
		<meta property="og:image" content="{% static 'img/og-image.png' %}">
		<meta property="og:description" content="SMMPanel is a platform that enables you to optimize and boost your Social Media Profiles. SMMPanel is a unique tool that is a part of every succesful Digital Marketer's toolbox. Come and be a part of our ever growing platform and it's community.">
		<meta property="og:title" content="SMMPanel.GURU - Complete Digital Marketing Tool">
		<meta property="og:site_name" content="SMMPanel.GURU">
		<meta property="og:see_also" content="https://smmpanel.guru">
		<meta itemprop="name" content="SMMPanel.GURU">
		<meta itemprop="description" content="SMMPanel is a platform that enables you to optimize and boost your Social Media Profiles. SMMPanel is a unique tool that is a part of every succesful Digital Marketer's toolbox. Come and be a part of our ever growing platform and it's community.">
		<meta itemprop="image" content="{% static 'img/og-image.png' %}">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="https://smmpanel.guru">
		<meta name="twitter:title" content="Complete Digital Marketing Tool">
		<meta name="twitter:description" content="SMMPanel is a platform that enables you to optimize and boost your Social Media Profiles. SMMPanel is a unique tool that is a part of every succesful Digital Marketer's toolbox. Come and be a part of our ever growing platform and it's community.">
		<meta name="twitter:image" content="{% static 'img/og-image.png' %}">
		<link rel="preload" as="style" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<style>#preloader{position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:#fff;display:table;z-index:15;transition:250ms;opacity:1}#preloader #preloader-vertical{display:table-cell;vertical-align:middle}#preloader .preloader-text{font-size:12px;font-weight:bold;margin-top:15px}#preloader.closing{opacity:0}</style>
		{% block meta %}{% endblock %}
		{% include 'important.html' %}
	</head>
	<body bgcolor="#191919">
	{% if messages %}
	<ul class="messages" id="error-message">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
		<div id="preloader">
			<div id="preloader-vertical">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
			</div>
		</div>
		<div id="nav" class="down">
			<div class="container">
				<div class="row --no-margins">
					<div class="left">
						<div id="logo">
							<a href="{% url 'home' %}">
								<div id="logo-img">
									<img src="{% static 'img/logo.png' %}" />
								</div>
								<p>SMMPanel<span>.guru</span></p>
							</a>
						</div>
					</div>
					<div class="right">
						{% if user.is_authenticated %}
						<p id="login-username">Hi {{ user.get_username }} !</p>
						<div id="logout-button">
							<a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<div id="footer-skew"></div>
			<div class="container">
				<div class="row">
					<div class="left" id="footer-other-content">
						<div class="footer-description">
							<div id="footer-logo">
								<p>SMMPanel</p>
							</div>
							<p class="title">Complete Digital Marketing Tool</p>
							<div>
								<p class="text">SMMPanel is a platform that enables you to optimize and boost your Social Media Profiles. SMMPanel is a unique tool that is a part of every succesful Digital Marketer's toolbox. Come and be a part of our ever growing platform and it's community.</p>
								<p class="text">We have incorporated our 5 years of experience in our Platform SMMPanel. All of services are perfect and are targetted for easy growth.</p>
							</div>
							<!--<div id="social-links">
								<ul>
									<li>
										<a href="https://www.facebook.com" target="_blank">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a href="https://www.twitter.com" target="_blank">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://www.youtube.com" target="_blank">
											<i class="fab fa-youtube"></i>
										</a>
									</li>
									<li>
										<a href="https://www.pinterest.com" target="_blank">
											<i class="fab fa-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com" target="_blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</li>
								</ul>
							</div>-->
						</div>
					</div>
					<div class="left" id="footer-links">
						<div>
							<p class="title">Links</p>
							<ul>
								<li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
								<li><a href="{% url 'tandc' %}">Terms and Conditions</a></li>
								<li><a href="{% url 'refund-policy' %}">Refund Policy</a></li>
								<li><a href="{% url 'our-services' %}">Our Services</a></li>
							</ul>
						</div>
					</div>
					<div class="left" id="footer-form-left">
						<div id="footer-contact-form">
							<div id="footer-contact-containet">
								<div id="footer-contact-header">
									<p>Contact us now</p>
								</div>
								<div id="contact-form">
									<form action="{% url 'contact' %}" method="post">
										{% csrf_token %}
										<div class="field">
											<label for="footer-full-name">Full name</label>
											<input autocomplete="false" id="footer-full-name" placeholder="Enter your full name" name="full-name" type="text" required />
										</div>
										<div class="field">
											<label for="footer-email-id">Email ID</label>
											<input autocomplete="false" id="footer-email-id" placeholder="Enter Email ID" name="email-id" type="text" required />
										</div>
										<div class="field">
											<label for="footer-full-query">Your query</label>
											<textarea id="footer-full-query" placeholder="Enter full query" name="query" required></textarea>
										</div>
										<div class="field">
											<input type="submit" value="Contact now">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-copy">
				<div class="container">
					<div class="copy-footer">
						<div class="left">
							<i class="far fa-copyright"></i>
							<p>2019 - SMMPanel.guru, All Rights Reserved</p>
						</div>
						<div class="right">
							<a href="mailto:admin@smmpanel.guru"><i class="fas fa-envelope"></i> admin@smmpanel.guru</a>
							<a href="https://t.me/smmpanelguruofficial" target="_blank"><i class="fab fa-telegram-plane"></i> https://t.me/smmpanelguruofficial</a>
						</div>
					</div>
				</div>
			</div>
			<div class="waveWrapper waveAnimation">
				<div class="waveWrapperInner bgTop">
					<div class="wave waveTop"></div>
				</div>
				<div class="waveWrapperInner bgMiddle">
					<div class="wave waveMiddle"></div>
				</div>
				<div class="waveWrapperInner bgBottom">
					<div class="wave waveBottom"></div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
